* {
    margin: 0;
    padding: 0;
    background-color: #2E593D;
}
#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.prouduct-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-img {
    width: 350px;
}
.product-img:hover {
	transform: scale(1.1);
	transition: all 0.1s;
}
.product-des {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 5;
}