<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>제품 목록</title>

        <link rel="stylesheet" href="list.css" />
        <!-- Bulma css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

        <script type="module" src="list.js" defer></script>
    </head>
    <body>
        <!-- 제품 목록 컨테이너 -->
        <div id="container">
            <!-- <div class="prouduct-item">
                <div class="product-img">
                    <img src="https://www.starbucksathome.com/kr/sites/default/files/2022-03/SBUX_EN_NDG_SunnydayBlend_Long%20Shadow_220304_2.png">
                </div>
                <div class="product-des">
                    <p class="product-des-title"></p>
                    <p class="product-des-price"></p>
                </div>
            </div>  -->
        </div>
    
    </body>
</html>
