<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="adminOrders.css" />


    <script src="adminOrders.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/elicebucks.png" width="30" height="30" />
            </a>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/product">커피 둘러보기</a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/category/628ee7fe4ae1c7306788e484">네스프레소</a>
            <a class="navbar-item" href="/category/628ee80f4ae1c7306788e487">네스카페 돌체구스토</a>
            <a class="navbar-item" href="/category/628ee8194ae1c7306788e48a">프리미엄 파우더 커피</a>
          </div>
        </div>
        
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end breadcrumb my-auto" id="headerNavbar" aria-label="breadcrumbs">
            <!--./components/headerNavbar.js-->
          </div>
        </div>
      </div>
    </nav>

    <!-- admin 폼(Form) -->
    <div class="HolyGrail container mt-3">
      <div class="HolyGrail-body">
        <main class="HolyGrail-content" id="mainContent">
          <div class="dashboard">
            <div class="dashboard-content">
              <h1>주문</h1>
              <div>
                블라블라
              </div>
          </div>
        </main>
        <nav class="HolyGrail-nav">
          <div id="leftMenuAdmin"></div>
        </nav>
      </div>
    </div>

  </body>
</html>
