/* 상단바 */
.navbar {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.navbar a {
	margin: 0 10px;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	text-decoration: none;
}

.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.register-user-form-box {
  width: 30rem;
}

.register-user-form-box .title {
  text-align: center;
}

.register-user-form-box .button {
  font-weight: bold;
}
.register-user-form-box .checkbox {
  display:flex;
  align-items: center;
}
.register-user-form-box .checkboxText{
  size: 2rem;
}
.register-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

  /* 로딩 */
  .overlay {
	  display:none;
	  position:fixed;
	  z-index:1000;
	  background-color: rgba(16,16,16,0.5);
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
  }
  .overlay.active {
	  display:flex;
	  justify-content: center;
	  align-items: center;
	  color:#fff;
  }