<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 상세</title>

    <link rel="stylesheet" href="detail.css" />
    <script src="detail.js" type="module" defer></script>
</head>
<body>
    <div id="container">
        <!-- <div id="text">
            <p id="title">${title}</p>
            <p id="description">${description}</p>
        </div>
        <div id="image">
            <img src="${image}">
        </div> -->
    </div>
    <a href="/cart"><div id="button">구매하기</div></a>
    
</body>
</html>