<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>제품 목록</title>

        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="list.css" />
        <script type="module" src="list.js" defer></script>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <!-- 헤더 -->
        <nav class="navbar">
            <div class="menu">
                <a href="/"><img src="/elicebucks.png"></a>
                <a href="/product/list.html">커피 둘러보기</a>
            </div>
    
            <div class="login navbar-end breadcrumb my-auto" id="headerNavbar" aria-label="breadcrumbs">
                <!--./components/headerNavbar.js-->
            </div>
        </nav>

        <!-- 제품 목록 컨테이너 -->
        <div id="container">
            <!-- <div id="prouduct-item">
                <div id="product-img">
                    <img src="https://www.starbucksathome.com/kr/sites/default/files/2022-03/SBUX_EN_NDG_SunnydayBlend_Long%20Shadow_220304_2.png">
                </div>
                <div id="product-des">
                    <p id="product-des-title"></p>
                    <p id="product-des-price"></p>
                </div>
            </div>  -->
        </div>
    
    </body>
</html>
