* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #2E593D;
}

/* 상단바 */
.navbar {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}
.navbar a {
	margin: 0 10px;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	text-decoration: none;
}

/* 제품 목록 */
#content {
    padding: 50px;
}
#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#prouduct-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product-img {
    width: 350px;
}
#product-img:hover {
	transform: scale(1.1);
	transition: all 0.1s;
}
#product-des {
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
    z-index: 5;
    text-align: center;
}

/* 페이지네이션 */
.pagination {
    margin-top: 50px;
}
.pagination-link {
    background-color: #F2F1F0;
    color: #000;
}
.pagination-link:hover {
	background-color: #F2D750;
}