/* 로딩 */
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(16, 16, 16, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

/* 상단바 */
.navbar {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar a {
	margin: 0 10px;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 0.8rem;
}
/* navBar 수직 정렬 안맞음 기본 CSS 제거 */
.mt-3 {
	margin-top: 0 !important;;
}
/* 로그인 부분 정렬 수정 */
.breadcrumb ul {
	justify-content: center;
	align-items: center;
}
/* 로그인 메뉴의 맨 앞의 요소만 살짝 정렬 안 맞는 것을 막기 위해 */
.breadcrumb li:first-child:before {
	color: rgba(255,255,255,0);
	content: "\0002f";
}
/* 로그인 메뉴의 맨 앞 요소만 왼쪽 padding 제외한 거 무효화  */
.breadcrumb li:first-child a {
	padding-left: 9.6px;
}
/* 회원 드롭다운 메뉴 정렬 수정*/
.breadcrumb a {
	justify-content: flex-start;
}

/* 로그인 메뉴 수평 유지 */
@media screen and (max-width: 1023px) {
	.navbar-brand {
		position: relative;
	}
	.navbar-menu {
		display: block;
		box-shadow: none;
		/* 커피 메뉴와 정렬을 맞춤 */
		padding-left: 0.5rem;
    padding-right: 0.5rem;
		position: absolute;
		top: 0;
		right: 0;
	}
	.breadcrumb ol, .breadcrumb ul {
		align-items: center;
	}
	.breadcrumb li+li::before {
    content:none;
	}
}

/* 화면이 작아지면 메뉴들이 겹치는 것을 방지하게 위해 로그인 수직 정렬 */
@media screen and (max-width: 479px) {
	.breadcrumb ol, .breadcrumb ul {
		flex-direction: column;
	}
}


/* 주문 */
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.cart-header {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}
.cart-header .subtitle {
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2rem 1rem 0;
}
.cart-header .title {
  margin-bottom: 0;
  padding-top: 2rem;
}
.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}
.subtitle:not(.is-spaced) + .title {
  margin-top: -1.25rem;
}
.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}
.cart-header {
  display: flex;
  align-items: center;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}
.order-summary {
  background-color: #f0f5f7;
  width: 100%;
}
.order-info,
.order-summary .header {
  border-bottom: 1px solid #555;
}
.order-summary .header {
  font-size: 1.4rem;
}
.order-info .info {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  margin-top: 0.8rem;
}
.order-info .info:first-child {
  margin-top: 1.2rem;
}
.order-info .info:last-child {
  margin-bottom: 1.2rem;
}
.order-info .info p {
  display: block;
  max-width: 70%;
}
.order-info .products-title {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}
.total .total-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
.total .total-price {
  font-size: 2rem;
  font-weight: 700;
}
.purchase {
  margin-top: 9rem;
  padding: 0.2rem 0;
}
.button.is-info {
  background-color: #3e8ed0;
  border-color: transparent;
  color: #fff;
}
.purchase button {
  font-size: 1.4rem;
  font-weight: 800;
  height: 4rem;
  width: 100%;
}
.button {
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

/* 로딩 */
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(16, 16, 16, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
