<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order.css" />
    <script src="order.js" type="module" defer></script>
    <!-- <script defer src="./indexedDB/Btn.js" ></script> -->
    <script defer src="./kakaomap/kakaoAPi.js"></script>
    <!-- Kakao 주소 API 사용하기 위한 파일 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elicebucks.png" width="30" height="30" />
          </a>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/product">커피 둘러보기</a>

          <div class="navbar-dropdown">
            <a class="navbar-item">네스프레소</a>
            <a class="navbar-item">네스카페 돌체구스토</a>
            <a class="navbar-item">프리미엄 파우더 커피</a>
          </div>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div
            class="navbar-end breadcrumb my-auto"
            id="headerNavbar"
            aria-label="breadcrumbs"
          >
            <!--./components/headerNavbar.js-->
          </div>
        </div>
      </div>
    </nav>

    <!-- 로그인 폼(Form) -->
    <section class="section">
      <div class="container">
        <div class="cart-header">
          <div class="subtitle subtitle-cart" id="subtitleCart">
            <p class="is-size-6">장바구니 &nbsp; &gt;</p>
          </div>
          <div class="title">
            <p class="is-size-2">주문결제</p>
          </div>
          <div class="subtitle">
            <p class="is-size-6">&gt; &nbsp;주문완료</p>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent cart-products main">
            <!-- kakaomap.js -->
          </div>

          <!-- 주문 정보 요약 -->
          <div class="tile is-parent tile-order-summary">
            <div class="box order-summary">
              <div class="header">
                <p>결제정보</p>
              </div>
              <div class="order-info">
                <div class="info">
                  <p>주문상품</p>
                  <p class="products-title" id="productsTitle">
                    주문하신 상품이 없습니다. / 0개
                  </p>
                </div>
                <div class="info">
                  <p>상품총액</p>
                  <p id="productsTotal">0 원</p>
                </div>
                <div class="info">
                  <p>배송비</p>
                  <p id="deliveryFee">0 원</p>
                </div>
              </div>
              <div class="total">
                <p class="total-label">결제금액</p>
                <p class="total-price" id="orderTotal">0 원</p>
              </div>
              <div class="purchase">
                <button class="button is-info" id="checkoutButton">
                  결제하기
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
