.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;

}

.HolyGrail-nav {
  order: -1;
  
  padding-left: 20px;
}
.HolyGrail-nav li{
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}

.dashboard h1{
  font-size:1.5rem;
  margin: 0.6rem;
}
.dashboard-content{
  padding:0.2rem;
}
.leftMenu a:hover {
  color: black;
}
.leftMenu li.selected a {
  font-size: large;
  color: #26ac26;
}
.product-list button{
  padding:0.4rem;
}
button.primary {
  background-color: #e2ffe9;
  margin: 3px;
  margin-bottom: 10px;
}
table {
  width: 100%;
  border-top: 1px solid #a0a0a0;
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #a0a0a0;
  padding: 10px;
  text-align: center;
}
thead tr {
  background-color: #e3ece5;
  color: #ffffff;
}
tbody tr:nth-child(2n) {

}
tbody tr:nth-child(2n+1) {
  background-color: #f9fffb;
}
.tr-action{
  width:7rem;
}

/*  product edit form       */
.register-user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  margin-top:10px;
  
}


.register-user-form-box {
  max-width: 700px;
  width:100%;
  
}
#form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px
}

.register-user-form-box .input{
  height: 45px;
  width:100%;
  display:block;
}

.register-user-form-box .title {
  
}

.register-user-form-box .button {
  font-weight: bold;
}



.register-user-form-box .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}


/****************************************/