/* 상단바 */
.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  margin: 0 10px;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}
/* navBar 수직 정렬 안맞음 기본 CSS 제거 */
.mt-3 {
  margin-top: 0 !important;
}
/* 로그인 부분 정렬 수정 */
.breadcrumb ul {
  justify-content: center;
  align-items: center;
}
/* 로그인 메뉴의 맨 앞의 요소만 살짝 정렬 안 맞는 것을 막기 위해 */
.breadcrumb li:first-child:before {
  color: rgba(255, 255, 255, 0);
  content: '\0002f';
}
/* 로그인 메뉴의 맨 앞 요소만 왼쪽 padding 제외한 거 무효화  */
.breadcrumb li:first-child a {
  padding-left: 9.6px;
}
/* 회원 드롭다운 메뉴 정렬 수정*/
.breadcrumb a {
  justify-content: flex-start;
}

/* 로그인 메뉴 수평 유지 */
@media screen and (max-width: 1023px) {
  .navbar-brand {
    position: relative;
  }
  .navbar-menu {
    display: block;
    box-shadow: none;
    /* 커피 메뉴와 정렬을 맞춤 */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .breadcrumb ol,
  .breadcrumb ul {
    align-items: center;
  }
  .breadcrumb li + li::before {
    content: none;
  }
}

/* 화면이 작아지면 메뉴들이 겹치는 것을 방지하게 위해 로그인 수직 정렬 */
@media screen and (max-width: 479px) {
  .breadcrumb ol,
  .breadcrumb ul {
    flex-direction: column;
  }
}

/*  product edit form       */
.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.cart-header {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}
.cart-header .subtitle {
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2rem 1rem 0;
}
.cart-header .title {
  margin-bottom: 0;
  padding-top: 2rem;
}
.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}
.subtitle:not(.is-spaced) + .title {
  margin-top: -1.25rem;
}
.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

/****************************************/
/**select 부분*/
.columns {
  text-align: center;
}
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 로딩 */
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: rgba(16, 16, 16, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.is-ancestor {
  padding-top: 1rem;
}

.tileContent {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.tileContent .titleContent {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tileContent .title {
  vertical-align: middle;
  margin: 0;
}
.tileContent .title-icon {
  margin-left: 0.5rem;
}
h1 {
  text-align: center;
  color: #2d4039;
  font-size: 1em;
  font-weight: bold;
}

/* 배송 정보 */
.main-menu {
  display: flex;
  bottom: 0;
  right: 0;
}

.main-menu .item .item__name {
  padding: 21px 0px 23px 5px;
  font-size: 13px;
}

.main-menu .item:hover .item__name {
  color: #669900;
  border-radius: 6px 6px 0 0;
}

.main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

.main-menu .item:hover .item__contents {
  display: block;
  z-index: 9;
}

.main-menu .item .item__contents .contents__menu {
  background-color: #f0f8ff;
}

.main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 5px 0;
}

.main-menu .item .item__contents .contents__menu > ul > li > h4 {
  padding: 3px 0 12px 0;
  font-size: 16px;
  color: black;
}

.main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  color: #999;
  cursor: pointer;
}

.main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}
