* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #273832;
}
a {
    color: #000;
}

/* 상단바 */
.navbar {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}
.navbar a {
	margin: 0 10px;
	font-family: 'Noto Sans KR', sans-serif;
	color: black;
	text-decoration: none;
}

/* 제품 상세 컨테이너 */
#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
#text {
    color: #fff;
    width: 50%;
}
#name {
    font-size: 3.5em;
}
#description {
    font-size: 1em;
}
#price {
    font-size: 1em;
}
#image {
    width: 50%;
}
#image img {
    width: 100%;
}

/* 장바구니에 담기 버튼 */
#cartBtn {
    position: fixed;
    bottom: 110px;
    right: 50px;
    padding: 10px;
    border-radius: 40px;
    background-color: #F1EEEB;
    color: #333333;
    font-size: 1em;
}
#cartBtn:hover {
    background-color: #fff;
}
/* 바로 구매하기 버튼 */
#buyBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    border-radius: 40px;
    background-color: #F1EEEB;
    color: #333333;
    font-size: 1em;
}
#buyBtn:hover {
    background-color: #fff;
}