<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>제품 상세</title>

  <!-- 아이콘 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
  <!-- bulma css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <!-- 폰트 어썸: 아이콘 -->
  <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
  <!-- 커스텀 css, js -->
  <link rel="stylesheet" href="detail.css" />
  <script src="detail.js" type="module" defer></script>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

</head>
<body>
  <!-- 헤더 -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container mt-3">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/coffee-beans.png" width="30" height="30" />
        </a>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/product">커피 둘러보기</a>

        <!-- 카테고리 목록 -->
        <div class="navbar-dropdown">
          <!-- ../components/navCategoryList.js -->
        </div>
      </div>

      <!-- 로그인 상태에 따른 로그인 메뉴 -->
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end breadcrumb my-auto" id="headerNavbar" aria-label="breadcrumbs">
          <!-- ../components/headerNavbar.js -->
        </div>
      </div>
    </div>
  </nav>

  <!-- 상단바 아래 컨텐츠 영역 -->
  <div id="content">
    <!-- 제품 상세 컨테이너 -->
    <div id="container">
    </div>

    <!-- 장바구니 담기 버튼 -->
    <a href="#" id="cartBtn" class="addIndexDB">장바구니에 담기</a>
    <!-- 바로구매 버튼 -->
    <a href="#" id="buyBtn" class="addIndexDB">바로 구매하기</a>
  </div>

    
</body>
</html>