<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>

    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <script src="home.js" type="module" defer></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  </head>
  <body>
    
    <!-- 헤더 -->
    <nav class="navbar">
      <div class="menu">
        <a href="/"><img src="/elicebucks.png"></a>
        <a href="/product/list.html">커피 둘러보기</a>
      </div>

      <div class="login navbar-end breadcrumb my-auto" id="headerNavbar" aria-label="breadcrumbs">
        <!--./components/headerNavbar.js-->
      </div>
    </nav>

    <!-- 콘텐츠 영역 -->
    <div class="content">
      <!-- 슬라이드 배너 -->
      <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <div class="slide-container">
          <ul class="slides">
            <li><a><img src="images/slide1.png"></a></li>
            <li><a><img src="images/slide2.png"></a></li>
            <li><a><img src="images/slide3.png"></a></li>
            <li><a><img src="images/slide4.png"></a></li>
          </ul>

          <div class="slide-control">
            <div class="control01">
              <label for="slide02" class="right"></label>
            </div>
            <div class="control02">
              <label for="slide01" class="left"></label>
              <label for="slide03" class="right"></label>
            </div>
            <div class="control03">
              <label for="slide02" class="left"></label>
              <label for="slide04" class="right"></label>
            </div>
            <div class="control04">
              <label for="slide03" class="left"></label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
